.register__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 350px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #cccccc;
    border-style: solid;
    margin-bottom: 30px;
    background-color: black;
    color: white;
}

.register__input:nth-child(2) {
    margin-bottom: 200px;
}