.profile__subtitle {
    color: white;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
    grid-area: profile_subtitle;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

@media screen and (max-width: 730px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}