.profile {
    width: 100%;
    max-width: 882px;
    box-sizing: border-box;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    background-color: #000000;
    
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 28px 27px 0px;
    }
}

@media screen and (max-width: 900px) {
    .profile {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 730px) {
    .profile {
        margin: 38px auto 0px;
        max-width: 280px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}