.popup__photo-fullscreen {
    max-width: 75vh;
    max-height: 75vh;
}

@media screen and (max-width: 790px) {
    .popup__photo-fullscreen {
        max-width: 440px;
        max-height: 499px;
    }
}

@media screen and (max-width: 480px) {
    .popup__photo-fullscreen {
        max-width: 240px;
        max-height: 299px;
    }
}